body {
    text-align: center;
}

.contact-container {
    background-color: #f0f8ff; 
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    width: fit-content;
    margin: 20px auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px 20px 20px 20px;
    padding-top: 60px; /* hier ruimte voor navbar */
    box-sizing: border-box;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red; /* fel rood */
  color:red;
  height: 50px;
  z-index: 1000;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50px;
  overflow: hidden;
}

.navbar li a {
  display: block;
  color: white; /* witte tekst */
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  height: 100%;
  font-weight: bold;
}
