/* Style for CV Page */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

header {
    background: #2980b9;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #2980b9;
    color: #ffffff;
}
