body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: brown;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: darkred;
}

h1, h2, article {
    margin-top: 50px;
    color: white;
}

.list ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin-left: 400px;
    padding: 10px;
    font-size: 20px;
}

.pro {
    margin-left: 70px;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, article {
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.bordertop {
    border-top: 1px solid black;
}

.highlight {
    color: blue;
}

.profile-pic {
    width: 345px;
    height: auto;
}
